<script src="/js/ipfs-mini.js"></script>    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">DORYLUS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" >

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Post Title</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">Start Bootstrap</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on January 1, 2018 at 12:00 PM</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="/img/minimal.png" alt="">

          <hr>

          <!-- Post Content -->
          <p class="lead" id="post-div">The stupendous growth of bitcoin and altcoins over the last year has left the world wondering what massive potential it holds. People are investing a good deal of their money in many of these cryptocurrencies, unaware of the underlying vision or the team behind it. </p>

          <hr>

          <!-- Date/Time -->
          <button type="button" class="btn btn-primary btn-block" id="upvote-btn">Upvote</button>

          <hr>


        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <div class="card my-4">
            <h5 class="card-header">Info!</h5>
            <div class="card-body">
              For every post that you find great, you can tip off the author as a token of appreciation. If you upvote this article, the author will recieve 20 TSK from you.
              <hr>
              You either need a browser which can interact with the blockchain itself (Mist) or Metamask (a browser extension) to perform the transaction.
              <hr>
              The app is currently deployed on Rinkeby testnet. You can always get testnet faucet fund to test the application.
              <hr>

            </div>
          </div>
          </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Made with <i class="fa fa-heart" aria-hidden="true" style="color:#be1931"></i> by   TEAM 16</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/web3.min.js"></script>

    <script type="text/javascript">
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
        } else {
        web3 = new Web3(new Web3.providers.HttpProvider('http://localhost:7545'));
      }

      // Set Account
      web3.eth.defaultAccount = web3.eth.accounts[0];

var contractAbi = [
    {
      "constant": true,
      "inputs": [],
      "name": "getArrayLength",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "content_ref",
          "type": "string"
        }
      ],
      "name": "getCreatorAddress",
      "outputs": [
        {
          "name": "",
          "type": "address"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "content_ref",
          "type": "string"
        }
      ],
      "name": "bind",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "content_ref",
          "type": "string"
        }
      ],
      "name": "checkOwnership",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "idx",
          "type": "uint256"
        }
      ],
      "name": "getContentRef",
      "outputs": [
        {
          "name": "",
          "type": "string"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [],
      "payable": true,
      "stateMutability": "payable",
      "type": "constructor"
    }
  ];

  

      //set token Contract ABI
      var tokenContractAbi = [
      {
        "constant": true,
        "inputs": [
          {
            "name": "",
            "type": "address"
          }
        ],
        "name": "balanceOf",
        "outputs": [
          {
            "name": "",
            "type": "uint256"
          }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
      },
      {
        "constant": false,
        "inputs": [
          {
            "name": "_to",
            "type": "address"
          },
          {
            "name": "_value",
            "type": "uint256"
          }
        ],
        "name": "transfer",
        "outputs": [],
        "payable": true,
        "stateMutability": "payable",
        "type": "function"
      },
      {
        "inputs": [
          {
            "name": "initialSupply",
            "type": "uint256"
          }
        ],
        "payable": true,
        "stateMutability": "payable",
        "type": "constructor"
      }
    ];

      // Set Contract Address
      var contractAddress = '0x90af16eea7b478408c8797749e7877eec9352075'; 

      //set token contract address
      var tokenContractAddress = '0x4e16f8bfad489f82847a804df5beb2c309b1d7ba';

      // Set the Contract
      var contract = web3.eth.contract(contractAbi).at(contractAddress);

      //set the token Contract
      var tokenContract = web3.eth.contract(tokenContractAbi).at(tokenContractAddress);

      var content_ref = "{{blog_hash}}";
      //fetch data from ipfs with the given blog_hash
      const ipfs = new IPFS({host: 'ipfs.infura.io', port: 5001, protocol: 'https'});
      const hash = content_ref;
      ipfs.cat(hash, (err, data) => {
       if (err) {
         return console.log(err);
       }
       
       console.log('DATA:', data);
       //put the data into post-div
       $('#post-div').text(data);
      });
      
      
      //on upvote, transfer the funds from consumer to creator 
      $('#upvote-btn').on('click', function(){
        // pay to creator's public address
        contract.getCreatorAddress(content_ref,function(err, creator_address) {
          // web3.eth.sendTransaction({ to:creator_address, value:9000,gas:21000}, function(err){});   

          //transfer tsukiyomi tokens
          tokenContract.transfer(creator_address, 20, function(err){
            console.log('successfully tipped off');
          });
          
        });

      });
    </script>