<script src="js/ipfs-mini.js"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">DORYLUS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./blog_create">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1 class="display-3">Hello, world!</h1>
      <p class="lead">This is Dorylus, a decentralized, serverless blogging platform built on the top of Ethereum blockchain. </p>
      <hr class="my-4">
      <p>Establishing Tsukiyomi (TSK), an ERC20 token which drives the community around and fosters a much simple peer to peer content reward platform.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Read more &rarr;</a>
      </p>
    </div>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 blog-entries">

          <h1 class="my-4">Blog list
            <small>Click to Read</small>
          </h1>


        </div>

          <div class="col-md-4">

          <div class="card my-4">
            <h5 class="card-header">Info!</h5>
            <div class="card-body">
              For every post that you find great, you can tip off the author as a token of appreciation. If you upvote this article, the author will recieve 20 TSK from you.
              <hr>
              You either need a browser which can interact with the blockchain itself (Mist) or Metamask (a browser extension) to perform the transaction.
              <hr>
              The app is currently deployed on Rinkeby testnet. You can always get testnet faucet fund to test the application.
              <hr>

            </div>
          </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Made with <i class="fa fa-heart" aria-hidden="true" style="color:#be1931"></i> by   TEAM 16
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/web3.min.js"></script>
    <script type="text/javascript">

      var elem = '';
      var ipfs = new IPFS({host: 'ipfs.infura.io', port: 5001, protocol: 'https'});

      var blog_post_card = '<div class="card mb-4 blog-post-card">\
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">\
            <!-- <div id="card-img-overlay">\
\
            </div>\
 -->            <div class="card-body">\
              <h2 class="card-title">Post Title</h2>\
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>\
              <a href="#" class="btn btn-primary read-more-btn">Read More &rarr;</a>\
            </div>\
            <div class="card-footer text-muted">\
              Posted on January 1, 2017 by\
              <a href="#">Start Bootstrap</a>\
            </div>\
          </div>';

      if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
        } else {
        web3 = new Web3(new Web3.providers.HttpProvider('http://localhost:7545'));
      }

      // Set Account
      web3.eth.defaultAccount = web3.eth.accounts[0];

var contractAbi = [
    {
      "constant": true,
      "inputs": [],
      "name": "getArrayLength",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "content_ref",
          "type": "string"
        }
      ],
      "name": "getCreatorAddress",
      "outputs": [
        {
          "name": "",
          "type": "address"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "content_ref",
          "type": "string"
        }
      ],
      "name": "bind",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "content_ref",
          "type": "string"
        }
      ],
      "name": "checkOwnership",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "idx",
          "type": "uint256"
        }
      ],
      "name": "getContentRef",
      "outputs": [
        {
          "name": "",
          "type": "string"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [],
      "payable": true,
      "stateMutability": "payable",
      "type": "constructor"
    }
  ];

  // Set Contract Address
  var contractAddress = '0x90af16eea7b478408c8797749e7877eec9352075'; 

      // Set the Contract
      var contract = web3.eth.contract(contractAbi).at(contractAddress);

      var elem_id;
      contract.getArrayLength(function(err, res){
        for(var i=0 ; i<res ; i++)
        {
        //loop over all the references
          contract.getContentRef(i, function(err, content_ref){
            ipfs.cat(content_ref, function(err, data){
             if (err) {
               return console.log(err);
             }
            elem = document.createElement('div');
            elem.setAttribute('id', content_ref);
            elem.innerHTML = blog_post_card;
            elem.querySelector('.card-title').textContent = content_ref;
            elem.querySelector('.card-text').textContent = data;
            elem.querySelector('.read-more-btn').href = 'blog_post/'+content_ref;
            $('.blog-entries').append(elem);
            console.log(content_ref); 
            console.log('DATA:', data);
            });
            
          });  
        }
        
      });

    </script>