 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Relevant</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Hot</a></li>
      <li><a href="#">Promoted</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> 

<div class="container-fluid">
	<div class="row">
		<div id="home-body" class="col-md-12">
			<div class="card-wrapper">
				<div class="card-pic-holder">
					<div class="label-danger">FRANCE</div>
				</div>
				<div class="profile-pic">
				</div>
				<div class="card-title">
					South of France : Nicce
				</div>
				<div class="card-intro">
					Perfect monday started with silent beep on my phone. I opened my eyesand, saw somebody standing on the other...
				</div>
				<div class="divider">
				</div>

			</div>
			<div class="card-wrapper">
				<div class="card-pic-holder">
				</div>
				<div class="profile-pic">
				</div>
			</div>
			<div class="card-wrapper">
				<div class="card-pic-holder">
				</div>
				<div class="profile-pic">
				</div>
			</div>
			<div class="card-wrapper">
				<div class="card-pic-holder">
				</div>
				<div class="profile-pic">
				</div>
			</div>
			<div class="card-wrapper">
				<div class="card-pic-holder">
				</div>
				<div class="profile-pic">
				</div>
			</div>
			<div class="card-wrapper">
				<div class="card-pic-holder">
				</div>
				<div class="profile-pic">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<p class="foot">Made with <i class="fa fa-heart" aria-hidden="true" style="color:#be1931"></i> by TEAM 16</p>
</div>
