<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://use.fontawesome.com/795dd48394.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300, 400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link href="/css/blog-home.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/medium-editor.min.css">
    <link rel="stylesheet" href="/css/themes/flat.css">

</head>
<body>
    {{{ body }}}
</body>
</html>