/*
#CACFD1
#FAFBFB
*/
@font-face {
	font-family: "Elianto"; 
	src: url("../fonts/Elianto-Regular.ttf");
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway', sans-serif;
	background-color: rgba(40, 50, 78, 0.9);
}
nav{
	background:rgba(40, 50, 78, 0.5);
	z-index: 100;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100vh;
}
#nav-ul{
	z-index: 100;
	padding-top: 24px;
	color: #fff;
	width: 100%;
}
#site-headline{
	
	z-index: 100;
	color: #fff;
	font-size: 48px;
	position: absolute;
	top:30%;
	left: 50%;
	transform: translateX(-267.5px);
}
#site-overview{
	font-family: 'Lato', sans-serif;
	text-align: center;
	z-index: 100;
	color: #fff;
	font-size: 24px;
	position: absolute;
	top:45%;
	left: 25%;
	right: 25%;
	/*padding-left: 20%;*/
	/*padding-right: 20%;*/
	/*transform: translateX(-267.5px);	*/
}
#start-btn{
	font-size: 20px;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translateX(-75px);
}
.nav-li{
	z-index: 100;
	font-size: 20px;
	display: inline-block;
	padding-right: 24px;
	list-style: none;
}
#brand-name-li{
	font-family: 'Elianto', sans-serif;
	color: #fff;
	z-index: 2000;
	height: 128px;
	display: inline-block;
	font-size: 36px;
	list-style: none;
	padding-right: 36px;
	background: url('../img/logo.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-left: 36px;
}
#video-wrapper{
	
	-webkit-clip-path: polygon(100% 0, 100% 76%, 67% 92%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 76%, 67% 92%, 0 100%, 0 0);
	height: 100vh;
	
}
#video-wrapper div{
	background:rgba(40, 50, 78, 0.6);
}
#home-body{
	background-color: #FAFBFB;
	padding-top: 30px; 
}
.card-wrapper{
	font-family: 'Lato', sans-serif;
	float: left;
	position: relative;
	margin-right: calc((10%)/2);
	box-sizing: border-box;
	width:25%;
	box-sizing: border-box;
	border-radius: 2%/2%;
	height: 300px;
	background-color: #FAFBFB;
	box-shadow: 5px 5px 25px 0 rgba(46,61,73,.25);
	overflow: hidden;
	margin-bottom: 36px;
}
.card-wrapper-big{
	width:50%;
}
.card-wrapper:nth-child(even), .card-wrapper-big:nth-child(even) {
    margin-right: 7.5%;
}
.card-wrapper:nth-child(odd), .card-wrapper-big:nth-child(odd) {
    margin-left: 7.5%;
}

.card-pic-holder{
	position: relative;
	width: 100%;
	height: 45%;
	background: url('../img/bg3.jpg');
	background-size: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}
.profile-pic{
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	position: absolute;
	right:15%;
	top:78px;
	width: 60px;
	height: 60px;
	background: url('../img/man.png');
	/*background-size: cover;  */
}
.card-title{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 20px;
	padding: 16px 20px 0 20px;
}
.card-intro{
	font-size: 14px;
	font-weight: lighter;
	padding: 2px 20px 12px 20px;
}
.divider{
	width: 100%;
	padding-left: 5%;
	height: 1px;
	background-color: #CACFD1;
}
.label-danger{
	/*display: inline-block;*/
	/*margin-top: 8px;*/
	position: absolute;
	top:8px;
	left: 8px;
	font-family: "Elianto", sans-serif;
	padding: 8px 20px 8px 6px;
	/*width: 72px;*/
	color: #fff;
	-webkit-clip-path: polygon(100% 0, 88% 51%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
	clip-path: polygon(100% 0, 88% 51%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
	font-size: 12px;
	/*padding-top:16px; */
}
.footer {
	padding-top: 16px;
	padding-bottom: 12px;
	font-family: 'Elianto', sans-serif;
	font-size: 16px;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}