/*
#CACFD1
#FAFBFB
*/
@font-face {
	font-family: "Elianto"; 
	src: url("../fonts/Elianto-Regular.ttf");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle !important;
}
body{
	font-family: 'Raleway', sans-serif;
}
nav{
	
	z-index: 100;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: calc(100vh-48px);
	color: #fff;
	vertical-align: middle !important;
}
#nav-ul{

	padding-top: 24px;
	width: 100%;
}
#site-headline{
	font-size: 44px;
	font-weight: 500;
	margin-top:16%;
}
#site-overview{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
	margin-top:2%;
}
#start-btn{
	display: inline-block;
	font-size: 20px;
	margin-top: 4%;
	/*background-color: #5b247a;*/
}

.nav-li{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	display: inline-block;
	padding-right: 20px;
	list-style: none;
}
#brand-name-li{
	display: inline-block;
	font-size: 36px;
	list-style: none;
	padding-right: 15%;
	padding-left: 25%;
}
#video-wrapper{
	height: calc(100vh-48px);	
}
#home-body{
	background-color: rgba(93, 198, 232, 0.5);
	padding-top: 30px; 
}
.card-wrapper{
	font-family: 'Lato', sans-serif;
	float: left;
	position: relative;
	margin-right: 6%;
	width:27%;
	border-top-right-radius: 1.5%;
	border-top-left-radius: 1.5%;
	height: 250px;
	background-color: #FAFBFB;
	box-shadow: 5px 5px 20px 0 rgba(46,61,73,.25);
	overflow: hidden;
	margin-bottom: 36px;
	border-bottom: 6px solid #e8b466;
}
.card-wrapper-big{
	border-bottom: 6px solid #36c593;
}
.card-wrapper:nth-child(3n){
    margin-right: 2%;
}
.card-wrapper:nth-child(3n+1){
    margin-left: 2%;
}

.card-wrapper-big .card-pic-holder{
	background: url('../img/minions.jpg');
	background-size: cover;
	background-position: center;

}
.card-pic-holder{
	position: relative;
	width: 100%;
	height: 60%;
	background: url('../img/bg3.jpg');
	background-size: cover;
	background-position: center;
	/*-webkit-clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);*/
}
.profile-pic{
	z-index: 10000;
	/*-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
*/	position: absolute;
	left:20px;
	bottom:12px;
	/*transform: translateY(-21px);*/
	width: 26px;
	height: 26px;
	background: url('../img/student-1.png');
	background-size: cover;  
}
.card-title{
	font-weight: 400;
	font-size: 20px;
	padding: 20px 20px 0 20px;
}
.card-intro{
	font-size: 14px;
	font-weight: lighter;
	padding: 2px 20px 12px 20px;
}
.card-intro img{
	height: 24px;
	width: 24px;
	/*padding-right: 24px;*/
}
.divider{
	width: 80%;
	margin: 8px 20px;
	/*margin-left: 10%;*/
	/*padding-left: 10%;*/
	height: 1px;
	background-color: #CACFD1;
}
.label-danger{
	position: absolute;
	top:8px;
	left: 8px;
	padding: 8px 20px 8px 6px;
	color: #fff;
	-webkit-clip-path: polygon(100% 0, 88% 51%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
	clip-path: polygon(100% 0, 88% 51%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
	font-size: 12px;
}
.footer {
	position: fixed;
	bottom: 0;
	font-weight: 400;
	padding-top: 16px;
	padding-bottom: 12px;
	font-size: 16px;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: black;*/
    color: white;
    text-align: center;
}

/*Mobile first*/
#site-wrapper
{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	z-index: 100;

}

@media (min-width: 720px){
	#site-wrapper
	{
		padding-left: 15%;
		padding-right: 15%;
		text-align: center;
		z-index: 100;
	}
}

@media (min-width: 1068px)
{
	#site-wrapper
	{
		padding-left: 25%;
		padding-right: 25%;
		text-align: center;
		z-index: 100;
	}
}



/*blog_user_profile.hbs specific css*/


@media (min-width: 720px)
{
	#user-profile-wrapper
	{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%
	}
}

@media (min-width: 1068px)
{
	#user-profile-wrapper
	{
		width: 50%;
		margin-left: 25%;
		margin-right: 25%
	}
}

#user-profile-wrapper{
	
	padding-top: 24px;
	/*background: #777;*/
}

#user-profile-info-card{
	position: relative;
	padding: 24px 0;
	/*background: yellow;*/
	width: 100%;
	/*margin-bottom: 10px;*/
}
#left-info{
	/*float: left;*/
	/*padding-left: 16px;*/
	width: 80%;
}
#user-profile-info-card img{
	position: absolute;
	right: 0;
	top:16px;
	width: 110px;
	height: 110px;
}
.profile-card{
	clear: both;
	margin-top: 24px;
}
.profile-divider{
	height: 1px;
	background: #082e7b !important;
	width: 100%;
}

#user-following{
	padding: 16px 0;
}
#follow-btn{
	float: right;
}